<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="frontend/css/main.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <!-- 제이쿼리를 써야하므로 html 헤드 영역에 아래와 같은 소스를 삽입하겠습니다. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type=""src="frontend/js/main.js"></script>

    <title>Main</title>
</head>

<body>
    <div class="main" id ="a">
        <nav class="nav-wrap">
            <p class="logo">OnThere</p>
            <p th:if="${session.user}" th:text="|${session.user.name}님 반갑습니다.|"></p>
            <div  class="nav-container">
                <a th:if="${session.user}" href="/logouts">Logout</a>
                <a th:unless="${session.user}" href="/logins">Login</a>
                <a th:unless="${session.user}" href="/join">Join</a>
                <a th:if="${session.user}" href="/mypage">Mypage</a>
            </div>
        </nav>

        <div class="main-box">
            <p class="where-text">어디로 가시나요?</p>

            <div class="in-wrap">

                <div class="line"></div>

                <div class="check-box-wrap">

                    <div class="check-box">
                        <p>여행지</p>
                        <form>
                            <select id="select_value">
                                <option value="">여행지 선택</option>
                                <option value="108" value2 = "서울" value3="11110">서울</option>
                                <option value="108" value2 = "부산" value3="11110">부산</option>
                                <option value="jeonju">전주</option>
                                <option value="gapyeong">가평</option>
                                <option value="busan">부산</option>
                                <option value="yeosu">여수</option>
                            </select>

                        </form>
                    </div>

                    <div class="check-box">
                        <p>가는날</p>
                        <input
                                class="date"
                                id="startdate"
                                type="date"
                                data-placeholder="날짜 선택"
                                required
                                aria-required="true"
                                className={styles.selectDay}
                        ></input>
                    </div>



                </div>

                <div class="search-box">
                    <input class="search-btn" type ="button" onclick="getShow();getJSON();" value="검색">
                    <img class="search-img" src="frontend/png/search.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="result" id="b" style="display: none;">
        <nav class="nav-wrap">
            <!-- <p class="logo">OnThere</p> -->
            <a href="" class="logo">OnThere</a>

            <div class="nav-container">
                <a href="">Login</a>
                <a href="">Join</a>
                <a href="">Mypage</a>
            </div>
        </nav>
        <div class="clear-box">
            <!--<p class="date" id="cleardate">2022 . 11 . 24 ~ 2022 . 11 . 28</p>-->
            <section>
                <img id="image" src="frontend/png/location.png" >
                <p class="place" id="selectedlocal">부산</p>
            </section>

        </div>
        <div class="container">
            <div class="search-result">
                <div>
                    <p class="search-content-1">여행지</p>
                    <p class="result-content-1" id="selectedlocal2">부산</p>
                </div>
                <div>
                    <p class="search-content-2">날짜</p>
                    <input type="date" class="result-content-2" id="dayselect">
                </div>

                <input class="search-btn2" type ="button" onclick="getShow();getJSON2();" value="검색">

            </div>


        </div>
        <div class="info">
            <div class="weather">
                <p class="info-txt">날씨</p>
                <div class="last-year-card">
                    <div class="weather-info">
                        <p class="temp" id="lasttemp">4º</p>
                        <p class="last-date" id="lastyeardate">2021/11/24</p>
                    </div>
                    <!--<img id="image" src="weather.png" >-->
                </div>
                <br>
                <div class="this-year-card">
                    <div class="weather-info">
                        <p class="temp2" id="thistemp">SORRY ...</p>
                        <p class="weather-notice" id="this-date">* 기온 정보가 없습니다.</p>
                        <!--<img id="image" src="crying-face.png" >-->
                    </div>
                </div>

            </div>
            <div class="graph" id="graphcontainer">
                <p class="info-txt">관광객 수</p>
                <canvas class="graph-container" id="myChart" width="300" height="250"></canvas>
                <!--<button id="sendAjax">button</button> -->


            </div>
            <div class="tourist-count">
                <p class="tourist-date" id="selectedday">2022/11/24</p>
                <p class="tour-txt1">예상 관광객 수</p>
                <p class="tour-count" id="tourcount">23,458 명</p>
                <p class="tour-txt2">여행하기</p>
                <div class="complexity">
                    <p class="complexity-txt" id="compltxt">복잡</p>
                    <p class="tour-txt3">한 날이에요</p>
                </div>
            </div>
        </div>

    </div>
    <!--<script type="text/javascript" src="chart.js"></script>-->
</body>
</html>