<!DOCTYPE html>
<html lang="en">
<head>
	<script type="module" src="../frontend/js/mypage.js"></script>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="frontend/css/mypage.css">
	<script>
 function rowDel(obj)
 {
     var tr = obj.parentNode.parentNode;
     tr.parentNode.removeChild(tr);
 }
</script>

</head>
    <body>
		<div class="logo-container">
			<a class="logo" href="/main">OnThere</a>
			</div>
			
			<div class="wrap">
				<p class="list-txt">방문기록</p>
				<button id="btn"></button>
				<div id="show_data"></div>
				<form name='form1' method='post'>
				<table>
					<tr class="detail-box">
						<td class="detail-boxs">
							<p class="detail-text">부산</p>
							<p class="detail-text">2022.11.13</p>
							<p class="detail-text">2022.11.24</p>
						</td>
					
						<td>
							<input type="button" id="1" value="X" onclick='javascript:rowDel(this);'>
						</td>
					</tr>

					<tr class="detail-box">
						<td class="detail-boxs">
							<p class="detail-text">부산</p>
							<p class="detail-text">2022.11.13</p>
							<p class="detail-text">2022.11.25</p>
						</td>
					
						<td>
							<input type="button" id="1" value="X" onclick='javascript:rowDel(this);'>
						</td>
					</tr>
					
					<tr class="detail-box">
						<td class="detail-boxs">
							<p class="detail-text">부산</p>
							<p class="detail-text">2022.11.13</p>
							<p class="detail-text">2022.11.26</p>
						</td>
					
						<td>
							<input type="button" id="1" value="X" onclick='javascript:rowDel(this);'>
						</td>
					</tr>

					<tr class="detail-box">
						<td class="detail-boxs">
							<p class="detail-text">부산</p>
							<p class="detail-text">2022.11.13</p>
							<p class="detail-text">2022.11.26</p>
						</td>
					
						<td>
							<input type="button" id="1" value="X" onclick='javascript:rowDel(this);'>
						</td>
					</tr>

					<tr class="detail-box">
						<td class="detail-boxs">
							<p class="detail-text">부산</p>
							<p class="detail-text">2022.11.13</p>
							<p class="detail-text">2022.11.27</p>
						</td>
					
						<td>
							<input type="button" id="1" value="X" onclick='javascript:rowDel(this);'>
						</td>
					</tr>

					<tr class="detail-box">
						<td class="detail-boxs">
							<p class="detail-text">부산</p>
							<p class="detail-text">2022.11.13</p>
							<p class="detail-text">2022.11.28</p>
						</td>
					
						<td>
							<input type="button" id="1" value="X" onclick='javascript:rowDel(this);'>
						</td>
					</tr>

					<tr class="detail-box">
						<td class="detail-boxs">
							<p class="detail-text">부산</p>
							<p class="detail-text">2022.11.13</p>
							<p class="detail-text">2022.11.29 </p>
						</td>
					
						<td>
							<input type="button" id="1" value="X" onclick='javascript:rowDel(this);'>
						</td>
					</tr>
					
				</table>
				</form>
			</div>
		</div>
    </body>
</html>