main {
    display: flex;
    /* flex-direction: column; */
    /* 가로를 기준으로 가운데 정렬 */
    justify-content: center; 
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    width: 100vw;
}


@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: 'Pretendard-Regular';
    text-align: center;
    color: #4C87DA;
    font-size: 40px;
    margin-bottom: 50px;
}


.essential-notice {
    font-family: 'Pretendard-Regular';
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.essentail-notice-box {
    display: flex;
    justify-content: right;
    text-align: right;
    margin-bottom: 10px;
}

.essential-notice-star {
    font-family: 'Pretendard-Regular';
    font-weight: 300;
    color:#4C87DA;
    font-size: 15px;
    margin: 4px;
}

.essential-notice-title {
    font-family: 'Pretendard-Regular';
    font-weight: 300;
    color: #535c6a;
    font-size: 15px;
}

.base-signup-wrap {
    
    align-items: center;
    margin-bottom: 30px;
}

.base-signup-container {
    font-family: 'Pretendard-Regular';
    display: flex;
    align-items: center;
    border-style: solid;
    /* box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1); */
    border-width: 1px;
    color: #e9e9e9;
    border-radius: 44px;
    margin-bottom: 20px;
    height: 48px;
    padding: 4px 20px;
}

.base-signup-container p {
    font-family: 'Pretendard-Regular';
    font-weight: 300;
    color:#4C87DA;
    font-size: 15px;
    /* margin: 10px; */
    margin-right: 3px;
    margin-top: 3px;
}

.base-signup-container input {
    font-family: 'Pretendard';
    font-weight: 200;
    width: 100%;
    border-radius: 44px;
    border: none;
}

.base-signup-container input:focus {
    outline: none;
}


.client-signup-wrap {
    align-items: center;
    margin-bottom: 30px;
}

.client-signup-container {
    display: flex;
    align-items: center;
    border-style: solid;
    /* box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1); */
    border-width: 1px;
    color: #e9e9e9;
    border-radius: 44px;
    margin-bottom: 20px;
    height: 48px;
    padding: 4px 20px;
}

.client-signup-container p {
    font-family: 'Pretendard-Regular';
    font-weight: 300;
    color:#4C87DA;
    font-size: 15px;
}

.client-signup-container input {
    font-family: 'Pretendard-Regular';
    font-weight: 200;
    width: 100%;
    border-radius: 44px;
    border: none;
}

.client-signup-container input:focus {
    outline: none;
}

.client-box-wrap {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.client-signup-box {
    width: 170px;
}

.client-signup-box p {
    font-family: 'Pretendard-Regular';
    font-weight: 300;
    color:#4C87DA;
    font-size: 15px;
}

.client-signup-box input {
    font-family: 'Pretendard-Regular';
    font-weight: 200;
    width: 100%;
    border-radius: 6px;
    border: none;
}

.client-signup-box-two {
    display: flex;
    align-items: center;
    border-style: solid;
    /* box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1); */
    border-width: 1px;
    color: #e9e9e9;
    border-radius: 6px;
    /* margin-bottom: 20px; */
    height: 48px;
    width: 170px;
    padding: 4px 20px;
}

.client-signup-box-two p {
    font-family: 'Pretendard-Regular';
    font-weight: 300;
    color:#4C87DA;
    font-size: 15px;
}

.client-signup-box-two input {
    font-family: 'Pretendard-Regular';
    font-weight: 200;
    width: 100%;
    border-radius: 6px;
    border: none;
}

.signup-btn {
    background-color:#4c87da;
    border-style: none;
    width: 100%;
    height: 48px;
    border-radius: 44px;
    font-family: 'Pretendard-Regular';
    font-weight: 600;
    font-size: 15px;
    color: white;
}

.signup-btn:hover {
    cursor: pointer;
    background-color: white;    
    color: #4c87da;
    border-color: #4c87da;
    border-style: solid;
}


* {
    margin: 0;
    padding: 0;
}


.try {
    border-style: solid;
    padding: 70px 99.9px 50px 100px;
    border-radius: 44px;
    border-color: #ebebeb;
    background-color: #fff;
}